.box1{
    background-image: url("../assets/Organization.webp");
    /* background-image: url("../assets/home_bg_pic.webp"); */
    height:900px;
    background-size: cover;
}
.box2{
    height: 250px;
    width: 250px;
    
    margin-left: 37%;
    margin-top: 10%;
}
#btn1{
    margin-left: 20%;
    width: 200px;
    border-radius: 8px;
    margin-top: 25%;
    background-color: indigo;
    color: blanchedalmond;
}
#btn2{
    width: 200px;
    border-radius: 8px;
    margin-top: 25%;
    margin-left: 20%;
    background-color: indigo;
    color: blanchedalmond;
}
h1{
    color: blanchedalmond;
}
