.login{
    width:420px;
    /* background: #fff; */
    background: lightcyan;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin-left: 34%;
    margin-top: 4%;
    padding: 3%;
    padding: absolute;
    font-family: 'Times New Roman', Times, serif;
    
}
input{
    border-radius: 8px;
    border: 2px solid #dddfe2; 
    width:100%; 
    margin-top: 6%;
  
    
}
.button{
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    outline: none;
     border-radius: 8px;
     margin-top: 8%;
}

.container{
    /* background-image: url("../assets/homebg.jpg"); */
    background-image: url("../assets/Organization.webp");
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-top: 5%;
    margin-top: 5%;
}