body{
    background:white
}
.sidebar{
    height: 750px;
    width:224px;
    border-style:groove;
    margin-left: 1%;
    border-color: black;
    background-color: lightsteelblue;
}
.btn1{
    border-radius: 3rem;
    margin-top: 2%;
    width:150px;
    background-color:lightsteelblue;
    color: indigo;
    border-color:indigo; 
    margin-left: 2%; 
}
.btn2{
    border-radius: 8rem;
    margin-top: 4%;
    width: 150px;
    border-color:indigo; 
    background-color:lightsteelblue;
    color: indigo;
    
} 
.btn3{
    border-radius: 8rem;
    margin-top: 6%;
    width: 150px;
     border-color:indigo; 
    background-color:lightsteelblue;
    color: indigo;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:blue;
}
h6{
    color: white;
    margin-right: 6%;
}

#add-btn{
    border-radius: 2rem;
    margin-top: 7%;
    width: 120px;
     /* border-color: brown; */
} 
input{
    border-style:solid;
     /* border-color: brown;  */
}
h4{
    margin-top: 20%;
    color: blue;
}
