.sidebar1{
    height:777px;
    width: 240px;
    border-style: solid;
    border-color:black;
    margin-left: 1%;
    /* background-color: rgb(168, 185, 185); */
     background-color:mediumslateblue 
 
}
.button1{
    width:150px;
    height:50px;
    margin-top: 7%;
    background-color:indigo;
    color: white;
}
.button2{
    width:150px;
    height:50px;
    margin-top: 10%;
    background-color:indigo;
    color: white;
}
.button3{
    width:150px;
    height:50px;
    margin-top: 12%;
    background-color:indigo;
    color: white;
}
.button4{
    width:150px;
    height:50px;
    margin-top: 12%;
    background-color:indigo;
    color: white;
}
nav{
    
    background-color:indigo;
}
#menu{
    color:black;
}
svg{
    height: 40px;
    color: white;
}
#heading{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}