p{
    color:indigo;
    font-size: x-large;
}

.editfields{
    height: 450px;
    width: 450px;
    margin-left: 42%;
    background-color: lightgray;
    margin-top: -41%;
    }
input{
        width: 300px;
    }
.edit_button{
    margin-top: 15%;
    height: 35px;
    width: 250px;
    border: 1px solid indigo;
    border-radius: 2rem;
    margin-left: 24%;
    color: indigo;
}