p{
    color:indigo;
    
}

.editfields{
    height: 400px;
    width: 450px;
    margin-left: 42%;
    background-color:rgb(220, 201, 233);
    margin-top: -41%;
    }
input{
        width: 300px;
    }
.edit_button{
    margin-top: 10%;
    height: 30px;
    width: 250px;
    background-color: indigo;
    border-radius: 2rem;
    margin-left: 24%;
    color: blanchedalmond;
}