h5{
    color: brown;
}
.viewmydata{
    margin-top:-44% ;
}
.card{
    margin-left: 28%;
    margin-top: 20%;
    background-color: lightsteelblue;
    width:400px
}
.list-group-item{
    text-align: center;
    color: blue;
}
#status{
    color:red;
}
#view_btn{
    height: 30px;
    width: 120px;
    border-radius: 1rem;
    background-color: indigo;
    color: blanchedalmond;
}
#employeeid{
    border-color: indigo;
}
